@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200;1,400&display=swap');

@media screen and (min-width:1200px) and (max-width:2500px){
    
body{
    background-image: url('../../public/images/back.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: black;
    min-width: 1200px;
    max-width: 2500px;
    font-family: 'Montserrat', 'sans-serif';
    
    .container{
       
     margin: 10px 30px;
        
        nav{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            align-content: center;
            .links{
                display: flex;
                flex-direction: row;
              justify-content: center;
              align-items: center;
              align-content: center;
            
         
                transition: all .2s ease-in;
         
                z-index: 1000;
            
               a{
              
               text-decoration: none;
               color: white;
          margin-right: 20px;
          &:hover{
            text-decoration: underline;
          }
             
              
               }

                
            }
            .links.active{
                background-color: black;
                transform: translateX(0);
                visibility: visible;
            }
           

.burger {
        color: white;
        
        transition: all 1s ease-in;
        position: fixed;
        top: 0px;
        left: 30px;
        cursor: pointer;
        display: none;

    }
        }
       
        .firstImg{
       text-align: center;
          img{
          text-align: center;
          border-radius: 100%;
          }
            h1{
                color: white;
                font-weight: bolder;
                text-shadow: 5px 5px 5px black;
                text-align: center;
                
            }
         
        }

        .accueil{
            color: white;
            text-align: center;
            font-size: 1.2rem;
            margin-top: 50px;

            hr{
                display: inline-block;
                width: 80%;
                text-align: center;
            }
        }
        h2{
            color: green;
           
            text-align: center;
        }

        h3{
            color: #d25d1e;
        }
        p{
            color: white;
            font-weight: 400;
            line-height: 30px;
            word-spacing:5px;
            text-align: justify;
        
        }
        .phone{
        text-align: center;
        img{
            box-shadow: 5px 5px 5px ;
        }
        }

        .display{
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: space-around;
            h3{
                color: white;
                font-weight: bolder;
                text-align: center;
                // display:none;
            }
            img{
                border-radius: 15px;
                height: 300px;
            }
        }
    }
  
   


    // Formullaire de contact
    .formulaire{
        // background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        form{
.bloc{

    
        // background-color: green;
        margin: 20px  ;
        label{
display: flex;
    flex-direction: column;
    color:white;
    padding-bottom: 15px;
    position: relative;
   
    input {
            height: 40px;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                border-color: transparent;
                box-shadow: 5px 5px 5px ;
            
                font-size: 1.2rem;
                font-weight: bolder;
    &::placeholder {
            color:rgb(5, 5, 142);
            text-align: center;
            font-weight: bolder;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            
        }
        }



        }
        
        
    }
        }
       #submit{
        display: block;
        background: rgb(32, 32, 171);
        box-shadow: 5px 5px 5px gray;
        height: 80px;
        text-align: center;
        width: 80%;
        margin-top: 40px;
        margin-left: 65px;
        color: gray;
        font-size: 1.1rem;
        border: none;
        cursor: pointer;
        &:hover{
            background-color: rgb(26, 26, 151);
        }
       }
    }


          .center {
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;
          }
}


.footer {
    display: flex;

    align-items: center;

    align-content: center;
    justify-content: space-between;

    a {
        color: white;
       
    }
          hr {
              color: blue;
              height: 50px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              margin: 15px;
          }
}
}


@media screen and (min-width:320px) and (max-width:1200px) {

    body {
        background-image: url('../../public/images/back.jpg');
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        // background-color: black;
        min-width: 320px;
        max-width: 978px;
        font-family: 'Montserrat', 'sans-serif';

        .center{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
        }

        .container {

            margin: 10px 30px;

            nav {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                align-content: center;

                .links {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    right: 0;
                    width: 100%;
                    position: fixed;
                    margin-top: 100px;
                    transition: all .2s ease-in;
                    visibility: hidden;
                    z-index: 1000;

                    a {

                        text-decoration: none;
                        color: white;
                        padding-top: 40px;


                    }


                }

                .links.active {
                    background-color: black;
                    transform: translateX(0);
                    visibility: visible;
                }


                .burger {
                    color: white;
                    font-size: 1.8rem;
                    transition: all 1s ease-in;
                    position: fixed;
                    top: 0px;
                right: 30px;
                    cursor: pointer;
                    color: orange;
                    z-index: 200000;

                }
            }

            .firstImg {
                text-align: center;

                img {
                    text-align: center;
                    border-radius: 100%;
                }

                h1 {
                    color: white;
                    font-weight: bolder;
                    text-shadow: 5px 5px 5px black;
                    text-align: center;
                    font-family: fantasy;

                }

            }

            .accueil {
                color: white;
                text-align: center;
                font-size: 1.2rem;
                margin-top: 50px;

                hr {
                    display: inline-block;
                    width: 80%;
                    text-align: center;
                }
                h3{
                color: #d25d1e;
                }
            }

            h2 {
                color:orange;

                text-align: center;
            }

            p {
                color: white;
                font-weight: 400;
                line-height: 30px;
                word-spacing: 5px;
                text-align: justify;

            }

            .phone {
                text-align: center;

                img {
                    box-shadow: 5px 5px 5px;
                }

                
            }

            .display {
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;

                h3 {
                    color: white;
                    font-weight: bolder;
                    text-align: center;
                }

                img {
                    border-radius: 15px;
                }
            }
        }




        // Formullaire de contact
        .formulaire {
            // background-color: blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: center;

            form {
                .bloc {
                    // background-color: green;
                    // margin: 20px;
                    width: 100%;

                    label {
                        display: flex;
                        flex-direction: column;
                        color:orange;
                        padding-bottom: 15px;
                        position: relative;
                        font-weight: bolder;
input {
        height: 40px;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        border-color: transparent;
        box-shadow: 5px 5px 5px;

        font-size: 1rem;
        font-weight: bolder;

        &::placeholder {
            color: rgb(5, 5, 142);
            text-align: center;
            font-weight: bolder;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        }
    }
                }


                }
            }

            #submit {
                display: block;
                background:rgb(32, 32, 171);
                box-shadow: 5px 5px 5px gray;
                height: 80px;
                text-align: center;
                width: 80%;
                margin-top: 40px;
                margin-left: 45px;
                color:rgb(246, 236, 236);
                font-size: 1.1rem;
                border: none;
                cursor: pointer;
                &:hover {
                        background:rgb(4, 1, 31);
                    }
            }
        }

        // Fin du formulaire
    }

    .footer {
        display: flex;

        align-items: center;
       
        align-content: center;
        justify-content: space-between;

        a {
            color: white;
            &:hover{
                color: gray;
            }
            

        }

        hr{
            color: blue;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
           margin: 15px;
        }
    }
}